html,button,input,select,textarea{color:#222}
body{background:#45505c;color:#323e4a;font-family:'Open Sans',Arial,Sans-serif;font-size:16px}
::-moz-selection{background:#ffa500;color:#fff;text-shadow:none}
::selection{background:#ffa500;color:#fff;text-shadow:none}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
img{vertical-align:middle}
fieldset{border:0;margin:0;padding:0}
textarea{resize:vertical}
#cuerpo{width:70%;margin:0 auto 0 auto;background:#fff;padding:0 0 0 0;-webkit-box-shadow:0 0 10px #000;-moz-box-shadow:0 0 10px #000;ms-box-shadow:0 0 10px #000;o-box-shadow:0 0 10px #000;box-shadow:0 0 10px #000;-webkit-border-radius:6px;-moz-border-radius:6px;ms-border-radius:6px;o-border-radius:6px;border-radius:6px;}
#cuerpo .cabeza{text-align:center;background-color:#94ca49;padding:15px 0 15px 0;position:relative;z-index:2;margin:15px 0 0 0;font:11px "Dosis",monospace;-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;ms-border-radius:4px 4px 0 0;o-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0;}
#cuerpo .cabeza h1{display:inline-block;vertical-align:middle;color:#fff;padding:0 0 0 0;margin:0 0 0 0;font-size:22px;font-weight:bold;letter-spacing:10px;position:relative;text-transform:uppercase}
#cuerpo .cabeza .logos{display:inline-block;width:530px;text-align:right;vertical-align:middle;}
#cuerpo .cabeza .logos figure{margin:0 0 0 0;display:inline-block;width:170px;cursor:pointer;}
#cuerpo .cabeza .logos figure img{width:130px;zoom:1;vertical-align:top}
#cuerpo .publicidad{margin:0 0 0 0;padding:0 0 0 0;display:block;width:auto;height:auto;text-align:center;}
#cuerpo .publicidad .publi1{margin:5px 0 0 0;padding:0 0 0 0;width:295px;display:inline-block;vertical-align:top;font-size:21px;background-color:rgba(21,152,226,0.4);color:#fff;-webkit-border-radius:10px;-moz-border-radius:10px;ms-border-radius:10px;o-border-radius:10px;border-radius:10px}
#cuerpo .publicidad .publi2{margin:5px 0 0 0;padding:0 0 0 0;display:inline-block;width:560px;height:auto;vertical-align:top;font-size:21px;background-color:rgba(199,214,23,0.4);-webkit-border-radius:10px;-moz-border-radius:10px;ms-border-radius:10px;o-border-radius:10px;border-radius:10px;color:#0070ff}
#cuerpo .superior{margin:0 0 0 0;padding:0 0 0 0;display:block;width:auto;height:auto;text-align:center;}
#cuerpo .superior .imagen{margin:30px 0 0 25px;padding:0 0 0 0;width:240px;display:inline-block;vertical-align:top;}
#cuerpo .superior .imagen img{display:block;width:100%;height:auto}
#cuerpo .superior .mensajebd{margin:30px 25px 0 0;padding:0 0 0 0;display:inline-block;width:560px;height:150px;overflow:hidden;position:relative;vertical-align:top;}
#cuerpo .superior .mensajebd img{width:100%;height:auto}
#cuerpo .superior .mensajebd p{font-size:1em;bottom:0;left:0;margin:0 0 0 0;padding:10px 35px 5px 40px;position:absolute;right:0;top:0;z-index:3;text-align:justify}
#cuerpo form .datospersonales{width:720px;height:auto;padding:0 0 25px 0;margin:30px auto 5px auto;text-align:center;}
#cuerpo form .datospersonales h2{display:inline-block;border-bottom:solid thin #0080be;color:#0080be;margin:0 0 0;padding:0 0 0;font-style:normal;font-weight:normal}
#cuerpo form .datospersonales input{margin:0 0 0 5px;padding:5px 5px 2px 5px;border-bottom:1px dashed #ccc;border-top:none;border-left:none;border-right:none;outline:none;display:inline-block;-webkit-appearance:none;-moz-appearance:none;ms-appearance:none;o-appearance:none;appearance:none;color:#666;width:140px;}
#cuerpo form .datospersonales input:hover{color:#666;background:#ccc}
#cuerpo form .pregunta{padding:5px 5px 5px 5px;}
#cuerpo form .pregunta h2{border-bottom:solid thin #0080be;color:#0080be;margin:0 0 0;padding:0 0 0;font-style:normal;font-weight:normal}
#cuerpo form .pregunta .preguntita{margin:5px 5px 5px 45px;padding:5px 5px 20px 5px;vertical-align:middle;cursor:pointer;}
#cuerpo form .pregunta .preguntita label{position:relative;float:right;}
#cuerpo form .pregunta .preguntita label:after{content:'<>';font:11px "Open Sans",monospace;color:#aaa;-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);-ms-transform:rotate(90deg);-moz-transform:rotate(90deg);-webkit-transform:rotate(90deg);right:8px;top:2px;padding:0 0 2px;border-bottom:1px solid #ddd;position:absolute;pointer-events:none}
#cuerpo form .pregunta .preguntita label:before{content:'';right:6px;top:0;width:20px;height:20px;background:#f8f8f8;position:absolute;pointer-events:none;display:block}
#cuerpo form .pregunta .preguntita label select{margin:0 0 0 0;padding:5px;-webkit-border-radius:4px;-moz-border-radius:4px;ms-border-radius:4px;o-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 3px 0 #ccc,0 -1px #fff inset;-moz-box-shadow:0 3px 0 #ccc,0 -1px #fff inset;ms-box-shadow:0 3px 0 #ccc,0 -1px #fff inset;o-box-shadow:0 3px 0 #ccc,0 -1px #fff inset;box-shadow:0 3px 0 #ccc,0 -1px #fff inset;background:#f8f8f8;color:#888;border:none;outline:none;display:inline-block;-webkit-appearance:none;-moz-appearance:none;ms-appearance:none;o-appearance:none;appearance:none;}
#cuerpo form .pregunta .preguntita label select optgroup{-webkit-border-radius:5px;-moz-border-radius:5px;ms-border-radius:5px;o-border-radius:5px;border-radius:5px;background:#999;color:#fff}
#cuerpo form .pregunta .preguntita label select option{color:#fff;border:1px #ccc solid;background:#ccc;}
#cuerpo form .pregunta .preguntita label select option:first-child{font-size:1.5em}
#cuerpo form .pregunta .preguntita:hover{background:#666;color:#fff;-webkit-border-radius:5px;-moz-border-radius:5px;ms-border-radius:5px;o-border-radius:5px;border-radius:5px}
#cuerpo form .pregunta:hover,#cuerpo form .pregunta:focus{background:#ccc;}
#cuerpo form .pregunta:hover input,#cuerpo form .pregunta:focus input{background:#ccc;border-bottom:1px dashed #0080be}
#cuerpo form .enviar{margin:20px 0 0 0;padding:10px 5px 10px 15px;-webkit-border-radius:4px;-moz-border-radius:4px;ms-border-radius:4px;o-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 3px 10px #7e7e7e,0 -1px #fff inset;-moz-box-shadow:0 3px 10px #7e7e7e,0 -1px #fff inset;ms-box-shadow:0 3px 10px #7e7e7e,0 -1px #fff inset;o-box-shadow:0 3px 10px #7e7e7e,0 -1px #fff inset;box-shadow:0 3px 10px #7e7e7e,0 -1px #fff inset;background:#f8f8f8;color:#000;font-size:16px;border:none;outline:none;display:inline-block;}
#cuerpo form .enviar:active{color:#0c0c0c;-webkit-box-shadow:0 0 10px 2px #666;-moz-box-shadow:0 0 10px 2px #666;ms-box-shadow:0 0 10px 2px #666;o-box-shadow:0 0 10px 2px #666;box-shadow:0 0 10px 2px #666;background-color:#f7ed00;font-weight:bold;letter-spacing:2px}
#cuerpo .proceder{margin:0 auto 0 auto;padding:0 0 0 0;width:65%;height:auto;}
#cuerpo .proceder .resultado{width:100%;height:auto;margin:40px auto 0 auto;text-align:center;}
#cuerpo .proceder .resultado .liston{width:570px;height:165px;padding:0 0 0 0;margin:0 auto 0 auto;overflow:hidden;position:relative;}
#cuerpo .proceder .resultado .liston img{width:100%;height:auto}
#cuerpo .proceder .resultado .liston .cont{bottom:0;left:0;position:absolute;right:0;top:0;z-index:3;}
#cuerpo .proceder .resultado .liston .cont h1{margin:0 auto 0 auto;padding:5px 0 0 0;width:445px;color:#fff;font-size:23px}
#cuerpo .proceder .resultado .liston .cont h4{color:#e49a9a;margin:0 0 0 0}
#cuerpo .proceder .resultado .liston .cont span{margin:35px auto 0 auto;padding:0 0 0 0;display:block;color:#fff;width:445px;height:80px;overflow:hidden;font-size:25px;text-transform:capitalize}
#cuerpo .proceder .resultado .resulcont{margin:0 0 0 0;padding:5px 0 5px 0;}
#cuerpo .proceder .resultado .resulcont .Esconder_Mostrar,#cuerpo .proceder .resultado .resulcont #enviar{display:none;margin:20px 0 0 0;padding:5px;-webkit-border-radius:4px;-moz-border-radius:4px;ms-border-radius:4px;o-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 3px 0 #ccc,0 -1px #fff inset;-moz-box-shadow:0 3px 0 #ccc,0 -1px #fff inset;ms-box-shadow:0 3px 0 #ccc,0 -1px #fff inset;o-box-shadow:0 3px 0 #ccc,0 -1px #fff inset;box-shadow:0 3px 0 #ccc,0 -1px #fff inset;background:#f8f8f8;color:#000;font-size:16px;border:none;outline:none;display:inline-block;-webkit-appearance:none;-moz-appearance:none;ms-appearance:none;o-appearance:none;appearance:none;text-decoration:none;cursor:pointer}
#cuerpo .proceder .resultado .resulcont ul{margin:0 0 0 0;padding:0 0 0 0;}
#cuerpo .proceder .resultado .resulcont ul li{margin:0 0 0 0;padding:0 0 0 0;list-style:none;font-size:13px;}
#cuerpo .proceder .resultado .resulcont ul li span{font-weight:bold}
#cuerpo .proceder .resultado .resulcont .DivEscondido{display:block;}
#cuerpo .proceder .resultado .resulcont .DivEscondido #mensaje{display:block;}
#cuerpo .proceder .resultado .resulcont .DivEscondido #mensaje #frminformacion label{display:inline-block;padding:0 0 0 0;margin:0 0 0 0}
#cuerpo .proceder .resultado .resulcont .DivEscondido #mensaje #frminformacion input[type=text]{margin:0 0 0 5px;padding:5px 5px 2px 5px;border-bottom:1px dashed #ccc;border-top:none;border-left:none;border-right:none;outline:none;display:inline-block;-webkit-appearance:none;-moz-appearance:none;-webkit-appearance:none;-moz-appearance:none;ms-appearance:none;o-appearance:none;appearance:none;color:#666}
#cuerpo .proceder .resultado .resulcont .DivEscondido #mensaje .requerido{border-bottom:1px dashed #f00 !important}
#cuerpo .proceder .resultado .resulcont .DivEscondido #mensaje .resultado{margin:0 auto 0 auto;padding:10px;font-size:20px;background:#333;color:#fff;width:435px;-webkit-border-radius:10px;-moz-border-radius:10px;ms-border-radius:10px;o-border-radius:10px;border-radius:10px;line-height:15px;}
#cuerpo .proceder .resultado .resulcont .DivEscondido #mensaje .resultado a{text-decoration:none;color:#09f;line-height:25px;padding:3px;-webkit-border-radius:10px;-moz-border-radius:10px;ms-border-radius:10px;o-border-radius:10px;border-radius:10px;font-size:20px}
#cuerpo .proceder .resultado .resulcont .DivEscondido #mensaje .resultado b{color:#3dff00}
#cuerpo .proceder .resultado .resulcont .DivEscondido #mensaje .resultado .pequenio{font-size:13px}
#cuerpo .proceder .resultado .resulcont .perfil{margin:0 0 0 0;padding:0 0 0 0;-webkit-border-radius:150px;-moz-border-radius:150px;ms-border-radius:150px;o-border-radius:150px;border-radius:150px;display:inline-block;vertical-align:middle;width:120px;border:10px solid #eee}
#cuerpo .proceder .resultado .resulcont .datos{margin:0 0 0 0;padding:0 0 0 0;display:inline-block;vertical-align:middle;}
#cuerpo .proceder .resultado .resulcont .datos li{text-align:left;padding:5px 5px 5px 5px;}
#cuerpo .proceder .resultado .resulcont .datos li span{width:80px;display:inline-block}
#cuerpo .proceder .resultado .resulcont .datos li:hover{background:#ccc}
#cuerpo .proceder .resultado .resulcont .compartir{margin:50px 0 0 0;padding:0 0 0 0;display:block;}
#cuerpo .proceder .resultado .resulcont .compartir a{text-decoration:none;font-size:17px;color:#e49a9a;width:95px;display:inline-block;}
#cuerpo .proceder .resultado .resulcont .compartir a img{display:block;margin:0 auto 0 auto}
#cuerpo .proceder .resultado .resultop,#cuerpo .proceder .resultado .resultbutton{margin:0 auto 0 auto;padding:0 0 0 0;display:block;width:570px;height:26px}
#cuerpo .proceder .justificado{text-align:justify}
#cuerpo .proceder .listape{margin:0 0 0 0;padding:0 0 0 40px;}
#cuerpo .proceder .listape li{margin:0 0 0 0;padding:0 0 0 0;list-style-type:none;text-align:justify}
#cuerpo .proceder .departamento{display:inline-block;padding:0 0 0 0;margin:0 0 0 0;}
#cuerpo .proceder .departamento p{text-align:center}
#cuerpo .proceder .mgrande,#cuerpo .proceder .mgrande2{margin:0 0 0 0;padding:0 0 0 0;border-top:none;border-left:none;border-right:none;outline:none;display:inline-block;-webkit-appearance:none;-moz-appearance:none;ms-appearance:none;o-appearance:none;appearance:none;width:auto;font-weight:bold;font-style:italic;text-transform:uppercase}
#cuerpo .proceder .mgrande{font-size:30px}
#cuerpo .proceder .mgrande2{font-size:23px}
#cuerpo .proceder .mgrande3{text-transform:uppercase}
#cuerpo .proceder .desabilitado{margin:0 0 0 0;padding:0 0 0 0;border-bottom:1px solid #000;border-top:none;border-left:none;border-right:none;outline:none;display:inline-block;-webkit-appearance:none;-moz-appearance:none;ms-appearance:none;o-appearance:none;appearance:none;background:#fff;width:auto;text-align:center}
#cuerpo .proceder .masinformacion{font-size:11px}
#cuerpo .loginresultados{margin:15px auto 0 auto;padding:0 0 0 0;width:95%;height:auto;}
#cuerpo .loginresultados form{margin:60px auto 60px auto;padding:0 0 0 0;width:50%;text-align:center}
#cuerpo .loginresultados input{margin:0 0 10px 5px;padding:5px 5px 2px 5px;border-bottom:1px dashed #ccc;border-top:none;border-left:none;border-right:none;outline:none;display:inline-block;-webkit-appearance:none;-moz-appearance:none;ms-appearance:none;o-appearance:none;appearance:none;color:#666;width:140px}
#cuerpo .loginresultados h2{display:block;border-bottom:solid thin #0080be;color:#0080be;margin:0 0 5px 0;padding:0 0 0;font-style:normal;font-weight:normal;text-align:center}
#cuerpo .loginresultados h3{display:block;margin:0 0 15px 0;padding:0 0 0;font-style:normal;font-weight:bold;text-align:right;color:#000;}
#cuerpo .loginresultados h3 em{color:#da910f;font-weight:normal}
#cuerpo .loginresultados .titulos{margin:0 auto 0 auto;padding:0 0 0 0;text-align:center;}
#cuerpo .loginresultados .titulos li{display:inline-block;margin:0 -4px 0 0;padding:5px 5px 5px 5px;list-style-type:none;border:0;background:#f3f3f3;color:#000;width:13%;border-bottom:3px solid #c0c0c0}
#cuerpo .loginresultados .resultados{margin:0 auto 0 auto;padding:0 0 0 0;text-align:center;}
#cuerpo .loginresultados .resultados li{display:inline-block;margin:0 -4px 0 0;padding:5px 5px 5px 5px;list-style-type:none;border:0;color:#666;width:13%;overflow:hidden;vertical-align:middle;}
#cuerpo .loginresultados .resultados li a{text-decoration:none;color:#666;font-weight:bold}
#cuerpo .loginresultados .resultados:hover{background:#ccc}
#cuerpo .loginresultados .salir{display:none;margin:20px 0 0 0;padding:5px;-webkit-border-radius:4px;-moz-border-radius:4px;ms-border-radius:4px;o-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 3px 0 #ccc,0 -1px #fff inset;-moz-box-shadow:0 3px 0 #ccc,0 -1px #fff inset;ms-box-shadow:0 3px 0 #ccc,0 -1px #fff inset;o-box-shadow:0 3px 0 #ccc,0 -1px #fff inset;box-shadow:0 3px 0 #ccc,0 -1px #fff inset;background:#f8f8f8;color:#000;font-size:16px;border:none;outline:none;display:inline-block;-webkit-appearance:none;-moz-appearance:none;ms-appearance:none;o-appearance:none;appearance:none;text-decoration:none;cursor:pointer}
#cuerpo .pies{text-align:center;background-color:#006596;padding:20px;position:relative;z-index:2;margin:30px 0 0 0;color:#ffc;-webkit-border-radius:0 0 4px 4px;-moz-border-radius:0 0 4px 4px;ms-border-radius:0 0 4px 4px;o-border-radius:0 0 4px 4px;border-radius:0 0 4px 4px;}
#cuerpo .pies a{color:#fff;text-decoration:none}
.animated{-webkit-animation-duration:1s;-moz-animation-duration:1s;-o-animation-duration:1s;-o-animation-duration:1s;-ms-animation-duration:1s;-moz-animation-duration:1s;-webkit-animation-duration:1s;-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-o-animation-fill-mode:both;-o-animation-fill-mode:both;-ms-animation-fill-mode:both;-moz-animation-fill-mode:both;-webkit-animation-fill-mode:both}
.bounceInDown{-webkit-animation-name:bounceInDown;-moz-animation-name:bounceInDown;-o-animation-name:bounceInDown;-o-animation-name:bounceInDown;-ms-animation-name:bounceInDown;-moz-animation-name:bounceInDown;-webkit-animation-name:bounceInDown}
@-moz-keyframes bounceInDown{0%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-webkit-transform:translateY(-2000px)}
60%{opacity:1;-ms-filter:none;filter:none;-webkit-transform:translateY(30px)}
80%{-webkit-transform:translateY(-10px)}
100%{-webkit-transform:translateY(0)}
}@-webkit-keyframes bounceInDown{0%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-webkit-transform:translateY(-2000px)}
60%{opacity:1;-ms-filter:none;filter:none;-webkit-transform:translateY(30px)}
80%{-webkit-transform:translateY(-10px)}
100%{-webkit-transform:translateY(0)}
}@-o-keyframes bounceInDown{0%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-webkit-transform:translateY(-2000px)}
60%{opacity:1;-ms-filter:none;filter:none;-webkit-transform:translateY(30px)}
80%{-webkit-transform:translateY(-10px)}
100%{-webkit-transform:translateY(0)}
}@-ms-keyframes bounceInDown{0%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-webkit-transform:translateY(-2000px)}
60%{opacity:1;-ms-filter:none;filter:none;-webkit-transform:translateY(30px)}
80%{-webkit-transform:translateY(-10px)}
100%{-webkit-transform:translateY(0)}
}@keyframes bounceInDown{0%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-webkit-transform:translateY(-2000px)}
60%{opacity:1;-ms-filter:none;filter:none;-webkit-transform:translateY(30px)}
80%{-webkit-transform:translateY(-10px)}
100%{-webkit-transform:translateY(0)}
}@media screen and (max-width: 1237px){#cuerpo .cabeza h1{display:block}
#cuerpo .cabeza .logos{width:auto;text-align:center;}
#cuerpo .cabeza .logos figure{display:inline-block;width:25%;}
#cuerpo .cabeza .logos figure img{width:100%;vertical-align:middle}
#cuerpo .superior .imagen{margin:0 0 0 0;padding:0 0 0 0;width:29%}
#cuerpo .superior .mensajebd{margin:0 0 0 0;width:69%;height:auto;}
#cuerpo .superior .mensajebd img{max-width:100%;height:auto}
#cuerpo .superior .mensajebd p{overflow-y:scroll}
#cuerpo form .datospersonales{width:100%}
#cuerpo form .pregunta{padding:5px 5px 5px 5px;}
#cuerpo form .pregunta h2{font-size:20px;text-align:justify}
#cuerpo form .pregunta .preguntita{margin:5px 5px 5px 5px}
#cuerpo .proceder{width:100%;}
#cuerpo .proceder .resultado{max-width:100%;height:auto;margin:40px auto 0 auto;}
#cuerpo .proceder .resultado .liston{max-width:100%;height:auto;}
#cuerpo .proceder .resultado .liston img{max-width:100%;height:auto}
#cuerpo .proceder .resultado .resultop,#cuerpo .proceder .resultado .resultbutton{width:100%;height:auto}
}@media screen and (max-width: 770px){#cuerpo{width:95%;}
#cuerpo .superior .imagen{width:100%}
#cuerpo .superior .mensajebd{width:100%;}
#cuerpo .superior .mensajebd p{overflow-y:scroll}
#cuerpo form .pregunta h2{font-size:15px}
#cuerpo form .pregunta .preguntita{font-size:15px;padding:5px 5px 15px 5px}
#cuerpo .proceder .resultado .liston .cont h1{width:100%;font-size:1em}
#cuerpo .proceder .resultado .liston .cont h4{font-size:60%}
#cuerpo .proceder .resultado .liston .cont span{width:100%;height:auto;font-size:100%}
#cuerpo .proceder .resultado .resulcont .DivEscondido #mensaje .resultado{width:90%;}
#cuerpo .proceder .resultado .resulcont .DivEscondido #mensaje .resultado a{font-size:1em}
}