@import 'nib/vendor'

vendor-prefixes = o ms moz webkit

border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	ms-border-radius arguments
	o-border-radius arguments
	border-radius arguments

appearance()
	-webkit-appearance arguments
	-moz-appearance arguments
	ms-appearance arguments
	o-appearance arguments
	appearance arguments

box-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	ms-box-shadow arguments
	o-box-shadow arguments
	box-shadow arguments

html,button,input,select,textarea
	color #222

body
	background #45505C
	color #323E4A
	font-family 'Open Sans',Arial,Sans-serif
	font-size 16px

::-moz-selection
	background #ffa500
	color #fff
	text-shadow none

::selection
	background #ffa500
	color #fff
	text-shadow none

hr
	display block
	height 1px
	border 0
	border-top 1px solid #ccc
	margin 1em 0
	padding 0

img
	vertical-align middle

fieldset
	border 0
	margin 0
	padding 0

textarea
	resize vertical

#cuerpo
	width 70%
	margin 0px auto 0px auto
	background #FFFFFF
	padding 0px 0px 0px 0px
	box-shadow 0px 0px 10px #000
	border-radius 6px

	.cabeza
		text-align center
		background-color #94ca49
		padding 15px 0 15px 0px
		position relative
		z-index 2
		margin 15px 0px 0px 0px
		font 11px "Dosis", monospace
		border-radius 4px 4px 0px 0px

		h1
			display inline-block
			vertical-align middle
			color #FFF
			padding 0px 0px 0px 0px
			margin 0px 0px 0px 0px
			font-size 22px
			font-weight bold
			letter-spacing 10px
			position relative
			text-transform uppercase

		.logos
			display inline-block
			width 530px
			text-align right
			vertical-align middle

			figure
				margin 0px 0px 0px 0px
				display inline-block
				width 170px
				cursor pointer

				img
					width 130px
					zoom 1
					vertical-align top

	.publicidad
		margin 0px 0px 0px 0px
		padding 0px 0px 0px 0px
		display block
		width auto
		height auto
		text-align center

		.publi1
			margin 5px 0px 0px 0px
			padding 0px 0px 0px 0px
			width 295px
			display inline-block
			vertical-align top
			font-size 21px
			background-color rgba(21, 152, 226, 0.4)
			color #FFF
			border-radius 10px

		.publi2
			margin 5px 0px 0px 0px
			padding 0px 0px 0px 0px
			display inline-block
			width 560px
			height auto
			vertical-align top
			font-size 21px
			background-color rgba(199, 214, 23, 0.4)
			border-radius 10px
			color #0070FF

	.superior
		margin 0px 0px 0px 0px
		padding 0px 0px 0px 0px
		display block
		width auto
		height auto
		text-align center

		.imagen
			margin 30px 0px 0px 25px
			padding 0px 0px 0px 0px
			width 240px
			display inline-block
			vertical-align top

			img
				display block
				width 100%
				height auto

		.mensajebd
			margin 30px 25px 0px 0px
			padding 0px 0px 0px 0px
			display inline-block
			width 560px
			height 150px
			overflow hidden
			position relative
			vertical-align top

			img
				width 100%
				height auto

			p
				font-size 1em
				bottom 0
				left 0
				margin 0px 0px 0px 0px
				padding 10px 35px 5px 40px
				position absolute
				right 0
				top 0
				z-index 3
				text-align justify

	form
		.datospersonales
			width 720px
			height auto
			padding 0px 0px 25px 0px
			margin 30px auto 5px auto
			text-align center

			h2
				display inline-block
				border-bottom solid thin #0080be
				color #0080be
				margin 0px 0 0px
				padding 0 0 0px
				font-style normal
				font-weight normal

			input
				margin 0px 0px 0px 5px
				padding 5px 5px 2px 5px
				border-bottom 1px dashed #ccc
				border-top none
				border-left none
				border-right none
				outline none
				display inline-block
				appearance none
				color #666
				width 140px

				&:hover
					color #666
					background #ccc

		.pregunta
			padding 5px 5px 5px 5px

			h2
				border-bottom solid thin #0080be
				color #0080be
				margin 0px 0 0px
				padding 0 0 0px
				font-style normal
				font-weight normal

			.preguntita
				margin 5px 5px 5px 45px
				padding 5px 5px 20px 5px
				vertical-align middle
				cursor pointer

				label
					position relative
					float right

					&:after
						content '<>'
						font 11px "Open Sans", monospace
						color #aaa
						-webkit-transform rotate(90deg)
						-moz-transform rotate(90deg)
						-ms-transform rotate(90deg)
						transform rotate(90deg)
						right 8px
						top 2px
						padding 0 0 2px
						border-bottom 1px solid #ddd
						position absolute
						pointer-events none

					&:before
						content ''
						right 6px
						top 0px
						width 20px
						height 20px
						background #f8f8f8
						position absolute
						pointer-events none
						display block

					select
						margin 0px 0px 0px 0px
						padding 5px
						border-radius 4px
						box-shadow 0 3px 0 #ccc, 0 -1px #fff inset
						background #f8f8f8
						color #888
						border none
						outline none
						display inline-block
						appearance none

						optgroup
							border-radius 5px
							background #999
							color #FFF

						option
							color #FFFFFF
							border 1px #ccc solid
							background #ccc

							&:first-child
								font-size 1.5em


				&:hover
					background #666
					color #FFFFFF
					border-radius 5px

			&:hover, &:focus
				background #ccc

				input
					background #ccc
					border-bottom 1px dashed #0080be

		.enviar
			margin 20px 0px 0px 0px
			padding 10px 5px 10px 15px
			border-radius 4px
			box-shadow 0px 3px 10px #7E7E7E,0 -1px #fff inset
			background #f8f8f8
			color #000
			font-size 16px
			border none
			outline none
			display inline-block

			&:active
				color #0C0C0C
				box-shadow 0 0 10px 2px #666
				background-color #F7ED00
				font-weight bold
				letter-spacing 2px

	.proceder
		margin 0 auto 0 auto
		padding 0px 0px 0px 0px
		width 65%
		height auto

		.resultado
			width 100%
			height auto
			margin 40px auto 0 auto
			text-align center

			.liston
				width 570px
				height 165px
				padding 0px 0px 0px 0px
				margin 0px auto 0px auto
				overflow hidden
				position relative

				img
					width 100%
					height auto

				.cont
					bottom 0
					left 0
					position absolute
					right 0
					top 0
					z-index 3

					h1
						margin 0px auto 0px auto
						padding 5px 0px 0px 0px
						width 445px
						color #FFF
						font-size 23px

					h4
						color #E49A9A
						margin 0pc 0px 0px 0px

					span
						margin 35px auto 0px auto
						padding 0px 0px 0px 0px
						display block
						color #FFF
						width 445px
						height 80px
						overflow hidden
						font-size 25px
						text-transform capitalize

			.resulcont
				margin 0px 0px 0px 0px
				padding 5px 0px 5px 0px

				.Esconder_Mostrar, #enviar
					display none
					margin 20px 0px 0px 0px
					padding 5px
					border-radius 4px
					box-shadow 0 3px 0 #ccc, 0 -1px #fff inset
					background #f8f8f8
					color #000
					font-size 16px
					border none
					outline none
					display inline-block
					appearance none
					text-decoration none
					cursor pointer

				ul
					margin 0px 0px 0px 0px
					padding 0px 0px 0px 0px

					li
						margin 0px 0px 0px 0px
						padding 0px 0px 0px 0px
						list-style none
						font-size 13px

						span
							font-weight bold

				.DivEscondido
					display block

					#mensaje
						display block

						#frminformacion
							label
								display inline-block
								padding 0px 0px 0px 0px
								margin 0px 0px 0px 0px

							input[type=text]
								margin 0px 0px 0px 5px
								padding 5px 5px 2px 5px
								border-bottom 1px dashed #ccc
								border-top none
								border-left none
								border-right none
								outline none
								display inline-block
								-webkit-appearance none
								-moz-appearance none
								appearance none
								color #666

						.requerido
							border-bottom 1px dashed #f00 !important

						.resultado
							margin 0px auto 0px auto
							padding 10px
							font-size 20px
							background #333
							color #FFF
							width 435px
							border-radius 10px
							line-height 15px

							a
								text-decoration none
								color #0099FF
								line-height 25px
								padding 3px
								border-radius 10px
								font-size 20px

							b
								color #3DFF00

							.pequenio
								font-size 13px

				.perfil
					margin 0px 0px 0px 0px
					padding 0px 0px 0px 0px
					border-radius 150px
					display inline-block
					vertical-align middle
					width 120px
					border 10px solid #EEEEEE

				.datos
					margin 0px 0px 0px 0px
					padding 0px 0px 0px 0px
					display inline-block
					vertical-align middle

					li
						text-align left
						padding 5px 5px 5px 5px

						span
							width 80px
							display inline-block

						&:hover
							background #ccc

				.compartir
					margin 50px 0px 0px 0px
					padding 0px 0px 0px 0px
					display block

					a
						text-decoration none
						font-size 17px
						color #e49a9a
						width 95px
						display inline-block

						img
							display block
							margin 0px auto 0px auto

			.resultop, .resultbutton
				margin 0px auto 0px auto
				padding 0px 0px 0px 0px
				display block
				width 570px
				height 26px

		.justificado
			text-align justify

		.listape
			margin 0px 0px 0px 0px
			padding 0px 0px 0px 40px

			li
				margin 0px 0px 0px 0px
				padding 0px 0px 0px 0px
				list-style-type none
				text-align justify

		.departamento
			display inline-block
			padding 0px 0px 0px 0px
			margin 0px 0px 0px 0px

			p
				text-align center

		.mgrande,.mgrande2
			margin 0px 0px 0px 0px
			padding 0px 0px 0px 0px
			border-top none
			border-left none
			border-right none
			outline none
			display inline-block
			appearance none
			width auto
			font-weight bold
			font-style italic
			text-transform uppercase

		.mgrande
			font-size 30px

		.mgrande2
			font-size 23px

		.mgrande3
			text-transform uppercase

		.desabilitado
			margin 0px 0px 0px 0px
			padding 0px 0px 0px 0px
			border-bottom 1px solid  #000 //dashed
			border-top none
			border-left none
			border-right none
			outline none
			display inline-block
			appearance none
			background #FFF
			width auto
			text-align center

		.masinformacion
			font-size 11px

	.loginresultados
		margin 15px auto 0 auto
		padding 0px 0px 0px 0px
		width 95%
		height auto

		form
			margin 60px auto 60px auto
			padding 0px 0px 0px 0px
			width 50%
			text-align center

		input
			margin 0 0 10px 5px
			padding 5px 5px 2px 5px
			border-bottom 1px dashed #ccc
			border-top none
			border-left none
			border-right none
			outline none
			display inline-block
			appearance none
			color #666
			width 140px

		h2
			display block
			border-bottom solid thin #0080be
			color #0080be
			margin 0px 0px 5px 0px
			padding 0 0 0px
			font-style normal
			font-weight normal
			text-align center

		h3
			display block
			margin 0px 0px 15px 0px
			padding 0 0 0px
			font-style normal
			font-weight bold
			text-align right
			color #000

			em
				color #DA910F
				font-weight normal


		.titulos
			margin 0px auto 0px auto
			padding 0px 0px 0px 0px
			text-align center

			li
				display inline-block
				margin 0px -4px 0px 0px
				padding 5px 5px 5px 5px
				list-style-type none
				border 0px
				background #F3F3F3
				color #000
				width 13%
				border-bottom 3px solid #C0C0C0

		.resultados
			margin 0px auto 0px auto
			padding 0px 0px 0px 0px
			text-align center

			li
				display inline-block
				margin 0px -4px 0px 0px
				padding 5px 5px 5px 5px
				list-style-type none
				border 0px
				color #666
				width 13%
				overflow hidden
				vertical-align middle

				a
					text-decoration none
					color #666
					font-weight bold

			&:hover
				background #ccc

		.salir
			display none
			margin 20px 0px 0px 0px
			padding 5px
			border-radius 4px
			box-shadow 0 3px 0 #ccc, 0 -1px #fff inset
			background #f8f8f8
			color #000
			font-size 16px
			border none
			outline none
			display inline-block
			appearance none
			text-decoration none
			cursor pointer

	.pies
		text-align center
		background-color #006596
		padding 20px
		position relative
		z-index 2
		margin 30px 0px 0px 0px
		color #ffc
		border-radius 0px 0px 4px 4px

		a
			color #FFF
			text-decoration none

@import "keyframes.styl"
@import "responsive.styl"