#cuerpo{border-radius:0;}
#cuerpo .cabeza{display:none;}
#cuerpo .cabeza h1{padding:0 0 0 0;margin:50px 0 50px 0;font-size:22px}
#cuerpo .cabeza .logos{width:100%;text-align:center;}
#cuerpo .cabeza .logos figure{width:130px;}
#cuerpo .cabeza .logos figure img{width:100px}
#cuerpo .proceder{width:100%;}
#cuerpo .proceder .resultado{width:100%;height:auto;margin:0 auto 0 auto;text-align:center;}
#cuerpo .proceder .resultado .liston{width:100%;height:auto;background:none;text-align:center;}
#cuerpo .proceder .resultado .liston img{display:none}
#cuerpo .proceder .resultado .liston .cont{position:relative;color:#000;}
#cuerpo .proceder .resultado .liston .cont h1{color:#000;display:block;margin:0 auto 0 auto}
#cuerpo .proceder .resultado .liston .cont h4{margin:0 auto 0 auto;display:block}
#cuerpo .proceder .resultado .liston .cont span{color:#000}
#cuerpo .proceder .resultado .resultop{background:none;height:0}
#cuerpo .proceder .resultado .resultop,#cuerpo .proceder .resultado .resultbutton{display:block;width:100%;height:26px}
#cuerpo .proceder .resultado .resulcont .perfil{margin:0 0 50px 0}
#cuerpo .proceder .resultado .resulcont .compartir{display:none !important;}
#cuerpo .proceder .resultado .resulcont .compartir a{display:none !important;}
#cuerpo .proceder .resultado .resulcont .compartir a img{display:none !important}
#cuerpo .pies{display:none}
