#cuerpo
	border-radius 0px

	.cabeza
		display none

		h1
			padding 0px 0px 0px 0px
			margin 50px 0px 50px 0px
			font-size 22px

		.logos
			width 100%
			text-align center

			figure
				width 130px

				img
					width 100px

	.proceder
		width 100%

		.resultado
			width 100%
			height auto
			margin 0px auto 0 auto
			text-align center

			.liston
				width 100%
				height auto
				background none
				text-align center

				img
					display none

				.cont
					position relative
					color #000

					h1
						color #000
						display block
						margin 0px auto 0px auto

					h4
						margin 0px auto 0px auto
						display block

					span
						color #000

			.resultop
				background none
				height 0px

			.resultop, .resultbutton
				display block
				width 100%
				height 26px

			.resulcont
				.perfil
					margin 0px 0px 50px 0px

				.compartir
					display none !important

					a
						display none !important

						img
							display none !important

	.pies
		display none