.animated
	-webkit-animation-duration 1s
	-moz-animation-duration 1s
	-o-animation-duration 1s
	animation-duration 1s
	-webkit-animation-fill-mode both
	-moz-animation-fill-mode both
	-o-animation-fill-mode both
	animation-fill-mode both

@keyframes bounceInDown
	0%
		opacity 0
		-webkit-transform translateY(-2000px)

	60%
		opacity 1
		-webkit-transform translateY(30px)

	80%
		-webkit-transform translateY(-10px)

	100%
		-webkit-transform translateY(0)

.bounceInDown
	-webkit-animation-name bounceInDown
	-moz-animation-name bounceInDown
	-o-animation-name bounceInDown
	animation-name bounceInDown