@media screen and (max-width: 1237px)
	#cuerpo
		.cabeza
			h1
				display block

			.logos
				width auto
				text-align center

				figure
					display inline-block
					width 25%

					img
						width 100%
						vertical-align middle

		.superior
			.imagen
				margin 0px 0 0 0px
				padding 0 0 0 0
				width 29%

			.mensajebd
				margin 0px 0px 0 0
				width 69%
				height auto

				img
					max-width 100%
					height auto

				p
					overflow-y scroll

		form
			.datospersonales
				width 100%

			.pregunta
				padding 5px 5px 5px 5px

				h2
					font-size 20px
					text-align justify

				.preguntita
					margin 5px 5px 5px 5px

		.proceder
			width 100%

			.resultado
				max-width 100%
				height auto
				margin 40px auto 0 auto

				.liston
					max-width 100%
					height auto

					img
						max-width 100%
						height auto

				.resultop, .resultbutton
					width 100%
					height auto


@media screen and (max-width: 770px)
	#cuerpo
		width 95%

		.superior
			.imagen
				width 100%

			.mensajebd
				width 100%
				p
					overflow-y scroll

		form
			.pregunta

				h2
					font-size 15px

				.preguntita
					font-size 15px
					padding 5px 5px 15px 5px

		.proceder
			.resultado
				.liston
					.cont
						h1
							width 100%
							font-size 1em

						h4
							font-size 60%

						span
							width 100%
							height auto
							font-size 100%

				.resulcont
					.DivEscondido
						#mensaje
							.resultado
								width 90%

								a
									font-size 1em